<!DOCTYPE html>
<html>
<head>
  <title>FitBot Login</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="center-card">
  <h1>FitBot</h1>
  <p style="opacity:.7;margin-bottom:20px;">
    A Fitness & Health Chatbot
  </p>

  <input id="username" placeholder="Enter username">

  <button onclick="login()">Login</button>
</div>

<script>
function login(){
  const user = document.getElementById("username").value.trim();
  if(!user){
    alert("Please enter a username");
    return;
  }
  localStorage.setItem("fitbot", "true");
  localStorage.setItem("fitbot_user", user);
  location.href="/";
}
</script>

</body>
</html>
